<div class="row mx-4" style='height: 26.5vh'>

  <div class="col-lg-4 p-4">
  <div class="card text-white bg-primary mb-3">
      <div class="card-header">تعداد پست ها
        ({{allPosts}})
      </div>
    </div>
  </div>

  <div class="col-lg-4 p-4">
    <div class="card text-white bg-info mb-3">
      <div class="card-header">تعداد کامنت ها
        ({{allComments}})
      </div>
    </div>
  </div>

  <div class="col-lg-4 p-4">
    <div class="card text-white bg-success mb-3">
      <div class="card-header">تعداد کاربران 
        ({{getUsersCounts}})
      </div>
    </div>
  </div>
</div>


{{! <div class="card-body">
  <h5 class="card-title">Primary card title</h5>
  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
  </p>
</div> }}