<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/assets/css/main-styles.css">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <script src="/assets/js/jq.js"> </script>
    <script src="/assets/js/bootstrap.min.js"> </script>
</head>
<body style='overflow-x: hidden'>
    {{> menu}}
    {{{body}}}
    {{> footer}}
</body>
</html>