    <!-- Footer -->
          <footer class="text-center mt-5 bg-dark text-white text-lg-start bg-body-tertiary text-muted">
            <!-- Section: Social media -->
            <section class="d-flex justify-content-center justify-content-lg-center p-4 border-bottom">
            This is site footer
             </section>
    
            <!-- Copyright -->
            <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
              © 2023 Copyright:
              <a class="text-reset fw-bold" href="https://mdbootstrap.com/">rezafa6.com</a>
            </div>
            <!-- Copyright -->
          </footer>
          <!-- Footer -->
        