<div class="header">
  <h1>Simple blog express/nodejs</h1>
  <p>A <b>responsive</b> website created by BS</p>
</div>
<div class="navbar row-reverse d-flex justify-content-between px-4 align-items-center flex-wrap">
  <div>
  <span class='text-white'> @{{user.email}}  </span>
  </div>
    <div>
  <a href="/admin">Home</a>
  <a href="/articles" >Articles</a>
  <a href="/comments">Comments</a>
  <a href="/settings">Settings</a>
  <a href="/users">Users</a>
  <a href="admin/logout" class='text-danger'>Logout</a>
  </div>
</div>